.comment-text{
    font-size: 0.8rem;
    margin-top: -3px;
    line-height: 1.75;
    text-align: justify;
}
.label-custom-button{
    font-size: 0.7rem;
    font-weight: 500;
    cursor: pointer;
}
.label-custom-button:hover{
    text-decoration: underline;
}

.label-custom-static{
    font-size: 0.7rem;
    font-weight: 500;
    user-select: none;
}